.main {
  max-width: 1440px;
  display: flex;
  gap: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.38;
  margin: auto;
  padding: 40px;
  box-sizing: border-box;

  .main__leftBlock {
    max-width: 640px;
    width: 100%;
    box-sizing: border-box;
    background: #fbfdff;
    box-shadow: 5px 5px 12px -2px rgba(72, 145, 255, 0.45);
    border-radius: 15px;
    height: calc(100vh - 188px);
    padding: 20px 20px 10px;

    img {
      height: 40px;
      width: 40px;
    }

    h1 {
      font-family: "Montserrat Alternates", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 25px;
      line-height: 1.38;
      color: #333;
      margin: 2px 0 7px;
    }

    p {
      font-size: 14px;
      color: #333;
    }

    .example {
      border: 1px solid rgba(51, 51, 51, 0.1);
      border-radius: 4px;
      font-size: 13px;
      margin: 10px 0;
      padding: 0 10px 0 0;
      box-sizing: border-box;
      ol {
      }

      ul {
        padding-left: 23px;
      }
    }
  }

  .main__rightBlock {
    max-width: 740px;
    width: 100%;
    label {
      font-size: 14px;
      color: #333;
      input::placeholder {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.38;
      }
    }

    .info {
      margin: 20px 0;
      .info__header {
        height: 40px;
        background-color: #fbfdff;
        border-radius: 10px;
        padding: 7px 12px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
          color: gray;
        }
        p {
          display: flex;
          align-items: center;
          color: #1f54fb;
          cursor: pointer;
          margin: 0;
          h1 {
            margin: 0 5px 0 0;
          }
          img {
            width: 20px;
            margin: 0 5px 0 0;
          }
        }
      }
      .info__content {
        width: 100%;
        padding: 0 20px 10px;
        box-sizing: border-box;

        h1 {
          font-family: "Montserrat Alternates", sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 25px;
          line-height: 1.38;
          color: #333;
        }
        .flights {
          background-color: #fbfdff;
          border-radius: 4px;
          padding: 2px 14px;

          .flights__items {
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-sizing: border-box;
            p {
              margin: 0;
            }
          }
        }
        .info__btns {
          display: flex;
          align-items: center;
          button {
            margin-left: 5px;
          }
          .active {
            display: block;
            color: #1f54fb;
          }
          .include {
            display: none;
          }

          .active:focus {
            background-color: #1f54fb;
            color: aliceblue;
          }
          .include {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .main {
    padding: 25px;

    .main__leftBlock {
      min-width: 447px;
      height: calc(100vh - 188px);
      padding: 10px;

      h1 {
        font-size: 22px;
      }

      p {
        font-size: 11px;
      }
      .example {
        font-size: 10px;
        margin: 10px 10px 10px 0;

        ol {
          padding-left: 28px;
        }

        ul {
          padding-left: 18px;
        }
      }
    }

    .main__rightBlock {
      label {
        font-size: 11px;
        input::placeholder {
          font-size: 11px;
        }
      }

      .info {
        margin: 15px 0;
        .info__header {
          padding: 7px 10px 0;
          font-size: 10px;
          p {
            h1 {
              font-size: 12px;
            }
            img {
              width: 17px;
            }
          }
        }
        .info__content {
          padding: 0 15px 10px;
          h1 {
            font-size: 22px;
            margin: 15.26px 0;
          }
          .flights {
            padding: 2px 9px;

            .flights__items {
              display: flex;
              align-items: center;
              justify-content: space-between;
              p {
                margin: 0;
              }
            }
          }
          .info__btns {
            button {
              height: 30px;
              font-size: 11px;
              margin-left: 3px;
            }
            .active {
            }
            .include {
            }

            .active:focus {
              background-color: #1f54fb;
              color: aliceblue;
            }
            .include {
              display: none;
            }
          }
        }
      }
    }
  }
}
