@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700;800&display=swap");
@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
a,
p,
span,
li,
ul,
input,
pre {
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  line-height: normal;
}

.container {
  @include container();
}
