.signIn {
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  // padding: 20px 40px;
  margin: auto;

  .signIn_wallpaper {
    width: 520px;
    border-radius: 40px;
  }

  .signIn__content {
    max-width: 400px;
    width: 100%;
    background: #fbfdff;
    box-shadow: 5px 5px 12px -2px rgba(72, 145, 255, 0.45);
    border-radius: 15px;
    font-style: normal;
    color: #1f54fb;
    padding: 30px;
    box-sizing: border-box;

    h1 {
      text-align: center;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 140%;
      margin: 10px 0 20px 0;
    }

    .signIn__form {
      display: flex;
      flex-direction: column;
      gap: 25px;
      position: relative;

      .hidePasswordIcon {
        position: absolute;
        z-index: 1;
        right: 18.75px;
        bottom: 10px;

        img {
          width: max-content;
          height: 12px;
          user-select: none;
          cursor: pointer;
        }
      }

      .error {
        p {
          font-family: "Montserrat", sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          text-transform: uppercase;
          color: #f11515;
          margin: 0;
        }
      }

      .enter {
        height: 40px;
        border: none;
        box-shadow: 5px 5px 12px -2px rgba(72, 145, 255, 0.45);
        transition: 0.7s;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
      line-height: 130%;
        color: #4891ff;
      }

      .enter:hover {
        background-color: #1f54fb;
        color: #ffffff !important;
      }

      .disabled {
        height: 40px;
        background: #d5d5d5;
        border: none;
        box-shadow: 0px 5px 10px 1px rgba(34, 60, 80, 0.15) inset;
        transition: 0.7s;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
      line-height: 130%;
        color: #f3f3f3;
      }
    }
  }
}

@media (max-width: 1050px) {
  section {
    display: block;
  }
}
