@import "../../styles/adaptive.scss";
@import "../../styles/variables.scss";

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: $color_2;
  box-shadow: 0 5px 12px -2px rgba(72, 145, 255, 0.45);
  border-radius: 0px 0px 20px 20px;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 5%;
    box-sizing: border-box;

    .header__logo {
      color: $color_1;
      font-family: "Montserrat Alternates", sans-serif;
      font-style: normal;
      @include adaptive-value("font-weight", 800, 700, 1);
      @include adaptive-value("font-size", 32, 25, 1);
      line-height: normal;
      cursor: pointer;
    }

    .header__btns {
      display: flex;
      @include adaptive-value("gap", 70, 10, 1);

      button {
        span {
          color: $color_3;

          &:hover {
            color: $color_1;
          }
        }
      }

      .header__languageBtns {
        display: flex;
        gap: 20px;
      }

      .header__languageBtn {
        display: none;
        color: $color_3;
        @include adaptive-value("font-size", 20, 15, 1);
        font-weight: 700;
      }

      .header__authBtn {
        span {
          @include adaptive-value("font-size", 15, 13, 1);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    &__content {
      padding: 2% 5%;
      box-sizing: border-box;

      .header__btns {
        .header__languageBtns {
          display: none;
        }

        .header__languageBtn {
          display: block;
        }
      }
    }
  }
}
