@import "../../styles/varibales.module.scss";

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  background: #1f54fb;
  box-shadow: 5px 5px 12px -2px rgba(72, 145, 255, 0.45);
  border-radius: 0px 0px 20px 20px;
  padding: 1% 0;
  box-sizing: border-box;

  &__content {
    @include centering();
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header__logo {
      font-family: "Montserrat Alternates", sans-serif;
      font-style: normal;
      @include adaptive-value("font-weight", 800, 700);
      @include adaptive-value("font-size", 32, 25);
      line-height: 130%;
      color: #ffffff;
      cursor: pointer;
    }

    .header__btns {
      display: flex;

      .btn {
        font-weight: 700;
        @include adaptive-value("font-size", 13, 8);
        line-height: 130%;
        color: #4891ff;
        margin: 0 2%;

        &:hover {
          background-color: #1f54fb;
          color: #ffffff;
        }
      }

      .auth {
        font-weight: 700;
        @include adaptive-value("font-size", 15, 13);
        line-height: 130%;
        color: #4891ff;
        margin: 0 0 0 40px;

        &:hover {
          background-color: #1f54fb;
          color: #ffffff;
          border: 1px solid #ffffff;
        }
      }
    }
  }

  &__btns_clone {
    display: none;

    .btn_clone {
      height: 20px;
      font-weight: 700;
      @include adaptive-value("font-size", 8, 8);
      line-height: 130%;
      color: #4891ff;
      margin: 10px 13px 0;
    }

    .btn_clone:hover {
      background-color: #1f54fb;
      color: #ffffff;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 2% 0;
    box-sizing: border-box;

    &__content {
      .header__btns {
        .btn {
          display: none;
        }
      }
    }

    &__btns_clone {
      display: flex;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 425px) {
  .header {
    &__btns_clone {
      .btn_clone {
        margin: 10px 6px 0;
      }
    }
  }
}
