@import "../../styles/adaptive.scss";
@import "../../styles/variables.scss";

.footer {
  width: 100%;
  height: 5%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -5px 12px -2px rgba(72, 145, 255, 0.45);

  .footer__content {
    span {
      color: #838383;
      font-weight: 600;
      @include adaptive-value("font-size", 16, 12, 1);
    }

    a {
      color: $color_2;
      font-weight: 600;
      @include adaptive-value("font-size", 16, 12, 1);
    }
  }
}
