.sign_up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 165px);

  .animation {
    width: 900px;
    height: 100%;
    border-radius: 40px;
    .animation_text{
      text-align: center;
      font-style: normal;
      text-align: center;
      font-weight: 500;
      font-size: 30px;
      line-height: 140%;
      color: #1f54fb;

    }
  }

  .sign_up_content {
    max-width: 400px;
    width: 100%;
    background: #fbfdff;
    box-shadow: 5px 5px 12px -2px rgba(72, 145, 255, 0.45);
    box-sizing: border-box;
    border-radius: 15px;
    font-style: normal;
    color: #1f54fb;
    padding: 30px;
    margin-right: 40px;

    h1 {
      text-align: center;
      font-weight: 500;
      font-size: 30px;
      line-height: 140%;
      margin: 10px 0 20px 0;
    }

    .sign_up_inputs_btn {
      display: flex;
      flex-direction: column;
      gap: 25px;
      position: relative;

      .sign_up_hide_password {
        position: absolute;
        z-index: 1;
        right: 18.75px;
        bottom: 75px;

        img {
          width: max-content;
          height: 12px;
          user-select: none;
          cursor: pointer;
        }
      }
      .sign_up_message {
        color: #f11515;
      }

      .redister {
        height: 40px;
        border: none;
        box-shadow: 5px 5px 12px -2px rgba(72, 145, 255, 0.45);
        transition: 0.7s;
        font-size: 15px;
        font-weight: 700;
        color: #4891ff;
      }

      .entredisterer:hover {
        background-color: #1f54fb;
        color: #fff !important;
      }
    
    }
  }
}

@media (max-width: 1050px) {
  section {
    display: block;
  }
}
